{{ partial "header.html" . }}
<header>
  <div class="back-button">
    <a id="back" href="{{ .Site.BaseURL }}">BACK</a>
  </div>
  {{- with .Site.GetPage "/" }}
    {{ range .AlternativeOutputFormats -}}{{ printf `<a class="feed" href="%s" /><img src="https://labs.tomasino.org/assets/images/feed-icon.svg" alt="Feed"></a>` .Permalink | safeHTML }}{{ end }}
  {{- end }}
</header>
<main>
  <article class="h-entry">
    <h1 class="p-name">{{ .Title }}</h1>
    <span class="info">
      <time class="dt-published" datetime="{{ .Date }}">{{ .Date.Format "2006.01.02" }}</time>
      <ul id="tags">
        {{ $tags := .Params.tags }}
        {{ if $tags }}
        {{ range sort .Params.tags }}
        <li><a class="p-category" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
        {{ end }}
        {{ end }}
      </ul>
    </span>
    <div class="e-content">
      {{ .Content }}
    </div>
  </article>
</main>
</body>
</html>
